<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: blueviolet;
        }
        h2{
            background-color: green;
        }
        p{
            color: red;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>welcome meesho user details </h1>
    <h2>user name:{{name}}</h2>
    <h2>age:{{age}}</h2>
    <p>Lorem ipsum dolor sit
         amet, consectetur adipisicing elit. I
         llo, quos. Dignissimos repellat sapiente 
         dolorum deleniti facilis? Officia laborum 
         accusamus minus, velit voluptatem, maxime 
         sunt consequuntur ab, porro rerum molestiae explicabo?
    Fugit
    , tempore corporis officia veniam similique id doloremque
     minus deleniti porro dolorem ullam a iusto sapiente, solut
     a, beatae voluptate odio! Provident placeat harum nulla do
     loremque sit vero reiciendis saepe temporibus.</p>
</body>
</html>