<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: aqua;
        }
        h2{
            background-color: azure;
        }
        p{
            color: black;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>welcome meesho produts</h1>
    <h2>product name:{{name}}</h2>
    <h2>price:{{price}}</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. U
        llam dolorem ut commodi odio. Et eius nesciunt totam rem
        
        quia modi officia, neque ipsam blanditiis 
        corporis? Molestias incidunt dolorem fugit atque?
    Totam eius nihil sequi laborum minus excepturi 
    consequatur rerum deserunt dolorum ipsum harum 
    sit sapiente natus iusto, commodi dignissimos expedita
     a illum beatae atque mollitia aspernatur? 
     Temporibus officiis accusantium perferendis?</p>
</body>
</html>