{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'product/style.css' %}">
</head>
<body>
    <img src="{% static 'images/laptop.jpeg' %}" alt="">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam obcaecati excepturi architecto nisi nemo, perspiciatis asperiores id tempore laboriosam consequatur ut molestias dolor voluptatibus ea repellendus quasi eos dignissimos animi?</h1>
</body>
</html>